.latest_property {
  margin-top: 90px;
}

.latest_property_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest_property_title > h1 {
  font-size: 2.5rem;
}

.latest_property_title > a {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.latest_property_title > a span {
  color: #000;
  font-size: 1.6rem;
}

.latest_property_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 2rem;
  margin-top: 4rem;
}

.latest_property_details {
  position: relative;
  overflow: hidden;
}

.latest_property_details img {
  max-width: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
}

.latest_property_details:hover img {
  transform: scale(1.2);
}

.property_img_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: linear-gradient(to top, rgb(1, 1, 1, 0.8), transparent);
}

.property_img_details {
  position: absolute;
  width: 70%;
  bottom: 8%;
  transition: all 0.8s;
  color: #fff;
}

.property_img_details > h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.1em;
}

.property_img_details > p {
  margin: 15px 0;
  width: 155px;
  height: 45px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  background: transparent;
  border: 2px solid #2eca6a;
  border-radius: 50px;
  letter-spacing: 0.02em;
}

.property_img_details > a {
  color: #fff;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.property_img_details > i {
  color: #fff;
  font-size: 22px;
}
