.home {
  padding: 30px 9%;
}

.our_services > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.our_services_columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 3rem;
  margin-top: 3rem;
}

.our_services_title {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.our_services_title span {
  color: #000;
  font-size: 4rem;
  padding: 12px 0;
  width: 180px;
  border: 5.5px solid #2eca6a;
  text-align: center;
  margin-right: -37px;
}

.our_services_title h2 {
  font-size: 2.3rem;
}

.our_services_col p {
  margin: 15px 0;
  font-size: 16.4px;
  line-height: 1.5em;
}

.our_services_col a span i {
  color: #000;
  padding-top: 2px;
  transition: all 0.3s ease-in-out;
}

.our_services_col a:hover i {
  color: #2eca6a;
}

/* media queries */
@media (max-width: 1141px) {
  .home {
    padding: 30px 4%;
  }
}

@media (max-width: 991px) {
  .our_services_columns {
    grid-gap: 1.5rem;
  }
  .our_services_title h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .our_services_columns {
    grid-template-columns: 1fr;
  }
  .our_services_title h2 {
    font-size: 2.3rem;
  }
}
