.blog_details {
  padding: 30px 9%;
  margin-top: 10rem;
}

.blog_details_title {
  display: flex;
  justify-content: space-between;
}

.blog_details_title > div {
  border-left: 3px solid #2eca6a;
  padding: 20px;
  padding-left: 30px;
}

.blog_details_title > div h1 {
  font-size: 2.5rem;
  border-radius: 2px;
}

.blog_details_title > div p {
  padding-top: 12px;
}

.blog_details_title > p {
  margin-top: 40px;
  font-size: 16px;
  color: #555;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-weight: 100;
}

/* sections */
.blog_details_section1 {
  margin-top: 3rem;
}

.blog_details_section1 img {
  width: 100%;
  object-fit: cover;
}

.blog_details_section1 p {
  text-align: center;
  margin-top: 2rem;
  word-spacing: 0.1em;
  line-height: 2em;
}

.blog_details_section1 p strong {
  color: #000;
}

/* Media Queries */
@media (max-width: 991px) {
  .blog_details_title {
    flex-direction: column;
  }
  .blog_details_title > div h1 {
    font-size: 2rem;
    width: 100%;
  }
  .blog_details_title > p {
    margin-top: 40px;
    margin-left: 20px;
  }
}
