.property {
  padding: 30px 9%;
  margin-top: 10rem;
}

.property_title {
  display: flex;
  justify-content: space-between;
}

.property_title > div {
  border-left: 3px solid #2eca6a;
  padding: 20px;
  padding-left: 30px;
}

.property_title > div h1 {
  font-size: 2.5rem;
  border-radius: 2px;
}

.property_title > div p {
  padding-top: 12px;
}

.property_title > p {
  margin-top: 40px;
  font-size: 16px;
  color: #555;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-weight: 100;
}

.property_options {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.property_options select {
  width: 13rem;
  padding: 10px;
  font-size: 16px;
  color: #555;
  border: 1px solid #313131;
  outline: none;
  transition: all 0.3s ease;
}

.property_options select:focus {
  box-shadow: 0.5px 0.5px 0.1px 3.5px rgba(72, 222, 248, 0.3);
}

.latest_property_boxes {
  margin-top: 2rem;
}

.property_pagination {
  display: flex;
  justify-content: end;
  margin-top: 2.2rem;
}

.property_pagination a {
  padding: 10px 13px;
  margin: 4px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s ease;
}

.property_pagination a.active_pagination,
.property_pagination a:hover {
  background: #2eca6a;
}

/* media queries */
@media (max-width: 941px) {
  .property_title {
    flex-direction: column;
  }
  .property_title > div h1 {
    font-size: 2rem;
    width: 100%;
  }
  .property_title > p {
    margin-top: 40px;
    margin-left: 20px;
  }
}
