.property_single {
  padding: 30px 9%;
  margin-top: 10rem;
}

/* sections */
.property_single_section1 {
  margin-top: 2.5rem;
  position: relative;
  overflow: hidden;
}

.contact_image_slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.slide {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  transition: all 1s ease-in-out;
}

.property_single_section2 {
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}

.property_single_section2_boxes {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  grid-gap: 8rem;
}

.property_single_section2_boxes h3 {
  margin-bottom: 3.5rem;
  position: relative;
  font-size: 2rem;
  color: #000;
}

.property_single_section2_boxes h3::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 3px;
  top: 130%;
  left: 0;
  background: #2eca6a;
}

.card_title_money {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.title_money_icon {
  border: 5px solid #2eca6a;
  padding: 1rem 3rem 1rem 2.5rem;
}

.title_money_icon span {
  font-size: 4rem;
  color: #000;
}

.title_money_quantity h5 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: -40px;
}

.property_summery {
  margin-top: 3rem;
}

.property_summery ul li {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}

.property_summery ul li strong {
  color: #000;
}

.property_description p {
  font-size: 16px;
  line-height: 1.6em;
  padding: 10px 0;
}

.propery_amenity {
  margin-top: 2.5rem;
}

.propery_amenity ul {
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;
}

.propery_amenity ul li {
  position: relative;
  width: 33%;
  float: left;
  padding-left: 25px;
  padding-right: 5px;
}

.propery_amenity ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 15px;
  left: 0;
  background: #313131;
}

.property_single_section5 {
  margin-top: 3rem;
}

.property_single_section5 > h1 {
  position: relative;
  font-size: 2rem;
}

.property_single_section5 > h1:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 70px;
  height: 4px;
  background: #2eca6a;
  margin-top: 8px;
}

.property_single_section5_boxes {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.6rem;
}

.property_single_section5_box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.4rem;
}

.property_single_section5_box2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.4rem;
}

.section5_box img {
  width: 100%;
}

.section5_box > h3 {
  font-size: 1.6rem;
}

.section5_box > p {
  margin-top: 1rem;
  line-height: 1.5em;
}

.section5_box ul {
  margin-top: 1.6rem;
}

.section5_box ul li {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.section5_box li strong {
  color: #000;
}

.property_social_links {
  text-align: center;
  padding-top: 1rem;
}

.property_social_links a {
  padding: 15px;
}

.property_social_links a i {
  font-style: normal;
}

.property_single_section5_box input,
.property_single_section5_box textarea {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  border: 1px solid #d1d9d8;
  outline: none;
  transition: border 0.3s ease;
  resize: vertical;
}

.property_single_section5_box input:focus,
.property_single_section5_box textarea:focus {
  border-color: #2eca6a;
}

.property_single_section5_box button {
  background: #000;
  color: #fff;
}

.property_single_section5_box button:hover {
  background: #2eca6a;
  color: #000;
}

/* Media Queries */
@media (max-width: 941px) {
  .property_single_section5_boxes {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .property_single_section5_box1 {
    grid-template-columns: 1fr;
  }
  .property_single_section2_boxes {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }
}
