.header {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 9%;
  /* padding-top: 28px; */
  padding-bottom: 28px;
  background: #fff;
  color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  z-index: 1000;
}

.header_logo {
  font-size: 2.2em;
  color: #000;
  font-weight: 600;
}

.header_logo span {
  color: #2eca6a;
}

.header_logo:hover {
  color: #2eca6a;
}

.nav_links ul {
  display: flex;
}

.nav_links li {
  position: relative;
  padding: 10px 16px;
}

.nav_links li a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.nav_links li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_links li a {
  position: relative;
  text-transform: capitalize;
  font-size: 1.23rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.03em;
  transition: all 0.1s ease-in-out;
}

.nav_links li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  inset: 10 0 0 0;
  border-bottom: 3px solid #2eca6a;
  transition: transform 0.3s ease;
}
