.header {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 9%;
  padding-bottom: 28px;
  background: #fff;
  color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  z-index: 300;
}

.header__height {
  height: 100px;
}

.header_logo {
  font-size: 2em;
  color: #000;
  font-weight: 600;
}

.header_logo span {
  color: #2eca6a;
}

.header_logo:hover {
  color: #2eca6a;
}

.nav_links ul {
  display: flex;
}

.nav_links li {
  position: relative;
  padding: 10px 14px;
}

.nav_links li a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.nav_links li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav_links li a {
  position: relative;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.03em;
  transition: all 0.1s ease-in-out;
}

.nav_links li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  inset: 10 0 0 0;
  border-bottom: 2px solid #2eca6a;
  transition: transform 0.3s ease;
}

.nav_menu_list {
  display: none;
  animation: ani 0.5s;
}

@keyframes ani {
  from {
    top: 0;
  }

  to {
    top: 32px;
  }
}

.nav_menu:hover .nav_menu_list {
  display: block;
  position: absolute;
  width: 230px;
  background: #fff;
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  margin-top: 16px;
  border-top: 4px solid #2eca6a;
  padding-top: 10px;
}

.nav_menu_list li a {
  display: flex;
  flex-direction: column;
}

.nav_menu_list a:hover {
  background-color: #ffffff;
  color: #2eca6a;
  transition: all 500ms ease;
}

.nav_menu_list li a:hover::before {
  transform: scaleX(0);
}

/* Search */
.header_search button {
  background: #2eca6a;
  padding: 6px 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.header_search button:hover {
  background: #26a356;
}

.header_search button .header_search_icon {
  font-size: 25px;
  font-weight: 700;
}

/* media queries */
@media (max-width: 1141px) {
  .header {
    padding: 30px 4%;
  }
}

@media (max-width: 941px) {
  .header {
    padding: 30px 3%;
  }
  .nav_links {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 30px 8%;
  }
  .header_logo {
    font-size: 1.7em;
  }
  .header_search button {
    background: none;
    color: #000;
  }
  .header_search button:hover {
    background: none;
  }
  .header_search button .header_search_icon {
    font-size: 28px;
  }
}
