.image_slider {
  position: relative;
  overflow: hidden;
  height: 80vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.slide {
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.indicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 10px 8px;
  background: #2eca6a;
}

.dot {
  padding: 6px;
  background: transparent;
  border: 0.12rem solid #fff;
  margin: 2px;
  border-radius: 10px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: #4c8d60;
}
