.footer {
  background: #f3f3f3;
  padding: 60px 9% 20px 9%;
  margin-top: 60px;
}

.footer_links {
  border-bottom: 1px solid #cbcbcb;
}

.footer_private_links {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.footer_private_links a {
  margin: 8px;
  display: inline-block;
  line-height: 0.8em;
  text-transform: capitalize;
}

.footer_copyright {
  margin-top: 30px;
  text-align: center;
}

.footer_copyright p {
  margin: 25px 0;
  text-transform: capitalize;
}

.footer_copyright p span {
  color: #000;
}

.footer_copyright p:last-child {
  font-size: 15px;
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 4% 20px 4%;
  }
  .footer_private_links a {
    margin: 6px;
  }
}
