.agent {
  position: relative;
  overflow: hidden;
}

.best_agents {
  margin-top: 90px;
}

.best_agents_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best_agents_title > h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.best_agents_title > a {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.best_agents_title > a span {
  color: #000;
  font-size: 1.6rem;
}

.best_agents_boxes {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  grid-gap: 2rem;
}

.agent_img img {
  max-width: 100%;
  object-fit: cover;
}

.agent_layer_details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.2%;
  background: transparent;
  transition: all 0.4s ease-in-out;
}

.agent:hover .agent_layer_details {
  background: rgba(46, 202, 106, 0.8);
}

.layer_header_name {
  position: absolute;
  width: 100%;
  top: -1%;
  padding: 0px 27px;
  font-size: 1.8rem;
  line-height: 1.3em;
  font-weight: 600;
  color: #000;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.layer_header_name:hover {
  text-decoration: underline;
  color: #000;
}

.agent:hover .layer_header_name {
  top: 7%;
  opacity: 1;
}

.agent_layer_text {
  position: absolute;
  top: 20%;
  padding: 0px 27px 0px 25px;
  width: 100%;
  line-height: 1.3em;
  letter-spacing: 0.02em;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.agent_layer_text p {
  font-size: 15px;
}

.agent:hover .agent_layer_text {
  top: 30%;
  opacity: 1;
}

.agent_layer_network {
  position: absolute;
  width: 100%;
  top: 50%;
  padding: 0 27px;
  opacity: 0;
  color: #000;
  transition: all 0.4s ease-in-out;
}

.agent:hover .agent_layer_network {
  opacity: 1;
}

.agent_layer_network p {
  line-height: 2.2em;
}

.agent_layer_network p > span {
  font-weight: 700;
}

@media (max-width: 340px) {
  .layer_header_name {
    padding: 0px 20px;
    font-size: 1.5rem;
    line-height: 1.1em;
  }
  .agent_layer_text {
    top: 20%;
    padding: 0px 20px 0px 20px;
    line-height: 1.2em;
    letter-spacing: normal;
  }
  .agent_layer_network {
    top: 55%;
    padding: 0 20px;
  }
}
