.best_agents {
  margin-top: 90px;
}

.best_agents_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best_agents_title > h1 {
  font-size: 2.5rem;
}

.best_agents_title > a {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.best_agents_title > a span {
  color: #000;
  font-size: 1.6rem;
}

.best_agents_boxes {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  grid-gap: 2rem;
}
