.testimonials {
  margin-top: 7rem;
}

.testimonials_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials_title > h1 {
  font-size: 2.5rem;
}

.testimonials_angles i {
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 0 10px;
  color: #535353;
  cursor: pointer;
}

.testimonials_details {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 2rem;
}

.testimonials_details_box > img {
  width: 100%;
}

.testimonials_details_box:last-child {
  text-align: center;
  margin-top: 14px;
}

.testimonials_details_box > span {
  padding: 8px 18px;
  text-align: center;
  background: #2eca6a;
  border-radius: 25px;
  color: #fff;
  font-size: 30px;
}

.testimonials_text {
  margin-top: 1.8rem;
  position: relative;
}

.testimonials_text > p {
  padding: 30px 20px;
  background: #f3f3f3;
  font-size: 1rem;
  letter-spacing: 0.02em;
  font-style: italic;
  text-align: start;
  line-height: 23px;
}

.testimonials_text > p:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 25px;
  border-top: 15px solid #f3f3f3;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.testimonials_profile {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonials_profile > img {
  border-radius: 50px;
  max-width: 100%;
}

.testimonials_profile > p {
  margin-left: 20px;
  color: #000;
  font-size: 18px;
}
