.blog {
  position: relative;
  overflow: hidden;
}

.latest_news {
  margin-top: 90px;
}

.blog_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog_title > h1 {
  font-size: 2.5rem;
}

.blog_title > a {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.blog_title > a span {
  color: #000;
  font-size: 1.6rem;
}

.blog_boxes {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  grid-gap: 2rem;
}

.blog img {
  max-width: 100%;
  object-fit: cover;
  transition: all 0.7s ease-in-out;
}

.blog_detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  padding: 30px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.blog_details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 6%;
  padding-right: 90px;
}

.blog_details a {
  color: #3d3d3d;
  padding: 6px 12px;
  border-radius: 25px;
  background: #2eca6a;
  letter-spacing: 0.01em;
}

.blog_details a:hover {
  color: #555;
}

.blog_details h3 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: 0.02em;
}

.blog_details p {
  color: #fff;
  margin-top: 20px;
  letter-spacing: 0.02em;
}

/* media queries */
@media (max-width: 941px) {
  .blog_details {
    top: 40%;
  }
}

@media (max-width: 768px) {
  .blog_details {
    top: 50%;
  }
}
