.blog_details {
  padding: 30px 9%;
  margin-top: 10rem;
}

.blog_details_title {
  display: flex;
  justify-content: space-between;
}

.blog_details_title > div {
  border-left: 3px solid #2eca6a;
  padding: 20px;
  padding-left: 30px;
}

.blog_details_title > div h1 {
  font-size: 2.5rem;
  border-radius: 2px;
}

.blog_details_title > div p {
  padding-top: 12px;
}

.blog_details_title > p {
  margin-top: 40px;
  font-size: 16px;
  color: #555;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-weight: 100;
}

/* sections */
.blog_details_section1 {
  margin-top: 3rem;
}

.blog_details_section1 img {
  width: 100%;
  object-fit: cover;
}

.blog_details_section1 p {
  text-align: center;
  margin-top: 2rem;
  word-spacing: 0.1em;
  line-height: 2em;
}

.blog_details_section1 p strong {
  color: #000;
}

.blog_details_section2 {
  margin-top: 4rem;
  padding: 0 15.3%;
}

.blog_details_section2_1 h3 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5em;
}

.blog_details_section2_2 {
  margin-top: 3rem;
}

.blog_details_section2_2 p {
  margin: 2rem 0;
  font-size: 17px;
  line-height: 1.6em;
  letter-spacing: 0.02em;
}

.blog_details_section2_3 {
  border-left: 3px solid #2eca6a;
  padding: 28px;
  padding-left: 45px;
}

.blog_details_section2_3 h4 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5em;
  color: #333;
}

.blog_details_section2_3 p {
  position: relative;
  margin: 10px;
  padding: 4px 0 4px 25px;
  background: #f1f1f1;
}

.blog_details_section2_3 p::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 0.5px;
  background: #777;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.blog_details_section2_4 {
  margin-top: 1.5rem;
}

.blog_details_section2_4 p {
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.02em;
}

.blog_details_social_links {
  margin-top: 2rem;
}

.blog_details_social_links a {
  padding: 0 10px;
  font-size: 17px;
}

.blog_details_section3 {
  padding: 30px 9%;
  margin-top: 2rem;
}

.title_blog_details h1 {
  position: relative;
  padding-bottom: 15px;
}

.title_blog_details h1::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 70px;
  height: 4px;
  background-color: #2eca6a;
}

.blog_details_section4 {
  padding: 30px 9%;
  margin-top: 2rem;
}

.blog_details_section4 form {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.8rem;
}

.blog_details_section4 .full_box {
  grid-column: 1/3;
}

.blog_details_section4_box label {
  display: block;
  color: #000;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 12px;
}

.blog_details_section4_box input,
.blog_details_section4_box textarea {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}

.blog_details_section4_box textarea {
  padding: 10px;
  resize: vertical;
}

.blog_details_section4_box input:focus,
.blog_details_section4_box textarea:focus {
  border-color: #2eca6a;
}

.blog_details_section4_box:last-child {
  margin-top: -30px;
}

.bolg_details_btn {
  background: #000;
  color: #fff;
}

.bolg_details_btn:hover {
  background: #2eca6a;
  color: #000;
}

/* Media Queries */
@media (max-width: 991px) {
  .blog_details_title {
    flex-direction: column;
  }
  .blog_details_title > div h1 {
    font-size: 2rem;
    width: 100%;
  }
  .blog_details_title > p {
    margin-top: 40px;
    margin-left: 20px;
  }
  .blog_details_section2 {
    padding: 0 8%;
  }
  .blog_details_section3_box:last-child {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .blog_details {
    padding: 30px 5%;
  }
  .blog_details_section2 {
    padding: 0;
  }
  .blog_details_section3 {
    padding: 0;
  }
  .blog_details_section4 {
    padding: 0;
  }
  .blog_details_section3_box:last-child {
    margin-left: 70px;
  }
  .blog_details_section4 form {
    grid-template-columns: 1fr;
  }
  .blog_details_section4 .full_box {
    grid-column: 1;
  }
}
