@font-face {
  font-family: poppins_b;
  src: url(assets/fonts/fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins_r;
  src: url(assets/fonts/fonts/poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: poppins_r, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

a {
  color: #000;
  transition: all 0.5s ease;
}

a:hover {
  color: #2eca6a;
  text-decoration: none;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  transition: all 2s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2eca6a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #26a356;
}

/* button */
.btn {
  background: #2eca6a;
  border: none;
  outline: none;
  width: 220px;
  height: 60px;
  color: #000;
  font-size: 16px;
  margin-top: 1.6rem;
  letter-spacing: 0.05em;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #000;
  color: #fff;
}

/* social links */

/* .social_links {
  text-align: center;
  margin-bottom: 15px;
} */

.social_links a {
  margin: 0px 12px;
}

.social_links a i {
  font-style: normal;
  font-size: 18px;
}

/* Title for every pages */
.every_pages_title {
  display: flex;
  justify-content: space-between;
}

.every_pages_title > div {
  border-left: 3px solid #2eca6a;
  padding: 20px;
  padding-left: 30px;
}

.every_pages_title > div h1 {
  font-size: 2.5rem;
  border-radius: 2px;
}

.every_pages_title > div p {
  padding-top: 12px;
}

.every_pages_title > p {
  margin-top: 40px;
  font-size: 16px;
  color: #555;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-weight: 100;
}

/* media queries */
@media (max-width: 941px) {
  .every_pages_title {
    flex-direction: column;
  }
  .every_pages_title > div h1 {
    font-size: 2rem;
    width: 100%;
  }
  .every_pages_title > p {
    margin-top: 40px;
    margin-left: 20px;
  }
}

/* Title for home page */
.home_page_titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_page_titles > h1 {
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.1em;
}

.home_page_titles a {
  color: #000;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 0.6em;
}

.home_page_titles a i {
  color: #000;
  font-size: 1.3rem;
}

@media (max-width: 538px) {
  .home_page_titles > h1 {
    font-size: 2rem;
  }
  .home_page_titles a {
    font-size: 16px;
    letter-spacing: 0.01em;
  }
  .home_page_titles a i {
    font-size: 1rem;
  }
}
